:root {
  font-size: 62.5%;
  font-family: Georgia, serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a:visited {
  color: #1863fa;
}

body {
  padding: 0 5rem;
}

section {
  max-width: 110rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.orange-highlight {
  color: orange;
  font-weight: 700;
}

.bold-highlight {
  color: rgb(0, 0, 0);
  font-weight: 700;
}

#heading {
  text-align: center;
}

#heading .logo {
  margin-bottom: 1.5rem;
}

#heading .date {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

#heading .paragraph {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.team-signature {
  font-style: italic;
}

/* content section */
.content-header {
  margin-bottom: 2.5rem;
}
.content .content-title {
  font-size: 2.5rem;
  font-weight: 700;
  background-color: orange;
  color: #fff;
  padding: 0.3rem;
}

.content .content-description {
  font-size: 1.5rem;
  font-style: italic;
  background-color: #dfdfdf;
  padding: 0.2rem;
}

/* content piece */
.news-piece {
  background-color: #f7f7f7;
  padding: 0.5rem;
  border-radius: 1rem;
}
.content-news-piece {
  margin-bottom: 1.5rem;
}
.news-piece-logo {
  text-align: center;
}
.breaking-line {
  width: 35rem;
  margin: 1rem auto 1.5rem auto;
  /* border-top: 1px solid rgb(136, 136, 136); */
}
.news-piece-logo-img {
  max-width: 35rem;
}
.news-piece-title {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(83, 83, 83);
  margin-bottom: 0.5rem;
}
.news-piece {
  font-size: 1.6rem;
  line-height: 2rem;
  color: rgb(67, 67, 67);
}

/* media query */
@media (max-width: 70em) {
  #heading .logo-img {
    max-width: 80%;
    min-width: 40rem;
  }
}

@media (max-width: 45em) {
  body {
    padding: 0 3rem;
  }
  #heading .logo-img {
    min-width: 35rem;
  }
  .news-piece-logo-img {
    max-width: 30rem;
  }

  :root {
    font-size: 52.5%;

  }

}

@media (max-width: 40em) {
  body {
    padding: 0 2rem;
  }
  #heading .logo-img {
    min-width: 35rem;
  }
  .news-piece-logo-img {
    max-width: 25rem;
  }

  /* #heading .paragraph {
    font-size: 1.3rem;
  } */
}
